@font-face {
  font-family: 'Bikham Cyr Script';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Bikham Cyr Script/bikham-cyr-script.woff2');
  
}

@font-face {
  font-family: 'Wix Madefor Display';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Wix_Madefor_Display/WixMadeforDisplay-Regular.ttf');
  
}

@font-face {
  font-family: 'Bounded';
  font-style: normal;
  font-weight: 200;
  src: url('@/assets/fonts/Bounded/Bounded-ExtraLight.ttf');
}

@font-face {
  font-family: 'Koh Santepheap';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Koh_Santepheap/KohSantepheap-Regular.ttf');
  
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Vollkorn/Vollkorn-Regular.ttf');
  
}

@font-face {
  font-family: 'Vollkorn500';
  font-style: italic;
  font-weight: 500;
  src: url('@/assets/fonts/Vollkorn/Vollkorn-MediumItalic.ttf');
  
}

@font-face {
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Vollkorn_SC/VollkornSC-Regular.ttf');
  
}

@font-face {
  font-family: 'Agatho';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/Agatho/agatho-bold-webfont.woff2');
  
}

@font-face {
  font-family: 'Agatho';
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/Agatho/agatho-medium-webfont.woff2');
  
}

@font-face {
  font-family: 'Agatho';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Agatho/agatho-webfont.woff2');
  
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf');
  
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 300;
  src: url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Light.ttf');
  
}

@font-face {
  font-family: 'MonteCarlo';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/MonteCarlo/MonteCarlo-Regular.ttf');
  
}

@font-face {
  font-family: 'Adamina';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Adamina/Adamina-Regular.ttf');
  
}