$design-width: 1920;

$yellow: #C9B380;
$white: #FFFFFF;
$gray-light: #F0ECE4;
$black: #000000;
$black-light: #1E1E1E;

// @function vw($value, $size: 1265) {
//   @return calc($value / $size) * 100vw;
// }